@model IEnumerable<PlantillaMVC.Models.Producto>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/myStyles.css" rel="stylesheet" type="text/css" />
<h2>Carrito de la compra</h2>
<h4>
    @{float cantidad = 0; }
    @foreach (var item in Model)
    {
        cantidad += item.Cantidad * item.Precio;
    }
    Total a pagar: @cantidad €
</h4>
<p>
    @Html.ActionLink("Finalizar la compra", "Pedido")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoID)
        </th>
        <th>
            Quitar Productos
        </th>
    </tr>

@foreach (var item in Model) {  
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            <img src="~/Content/Images/@item.FotoID" class="image" />
        </td>
        <td>
            @Html.ActionLink("Uno / ", "Remove", new { id=item.Id })
            @Html.ActionLink("Todos","RemoveAll",new { id=item.Id})
        </td>
    </tr>
}

</table>
